{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Students List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.first_name }}</td>
        <td>{{ student.email }}</td>
        <td>
          <a href="" class="btn btn-info">View</a>
          <a href="" class="btn btn-warning">Edit</a>
          <form action="" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <center>
    {% if page_obj.has_previous %} 
        <a href="?page={{page_obj.previous_page_number}}">prev</a>
    {% endif %}
    <span>{{page_obj.number}}</span>
   
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">next</a> 
    {% endif %}
  </center>

  <a href="{% url 'add_student' %}" class="btn btn-primary">Add Student</a>
</div>

{% endblock %}
